$bg-dark:#3b3434;
$blanco:  #f5efef;


.footer {
    background-color: $blanco;
    border-radius: 5px;
    h3 {
        color: $bg-service;
        text-align: center;
        
    }
    p {
        color: $bg-service;
        text-align: center;
    }
}
.footer__link--sociales {
    text-align: center;
}
.img__footer--anim:hover {
    cursor: pointer;
    animation: shakeX;
    animation-duration: 2s;
}