$d-flex: flex;
$bg-btn: #ffc107;
$bg-celeste: #0097a7;
$font: 'Krub';

.navegacion__principal {
    display: $d-flex;
    justify-content: space-between;
    background-color: $bg-celeste;
    a{
        color: #fff;
        display: block;
        font-family: $font;
        text-align: center;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 700;
        padding: .5rem;
    }
}
.navegacion__principal a:hover{
    background-color: $bg-btn;
}
.index:hover {
    animation: shakeX;
    animation-duration: 2s;
}
.cs--rotate {
    transform: rotate(.5turn);
}
.sombra__div--service {
    box-shadow: 0 5px 15px 0 rgba(112,112,112, 0.54);
}
.sombra__div--service:hover {
    animation: pulse;
    animation-duration: 1s;
}

/* Responsive Design */
@media(max-width:469px){
    .navegacion__principal {
        display: block;
    }
}